.create-note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xlarge);
  color: var(--text-color);
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: var(--spacing-medium);
  right: var(--spacing-medium);
  width: 2.5rem;
  height: 2.5rem;
}

.create-note-btn:hover {
  opacity: .7;
}