.create-note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.create-note-btn:hover {
  opacity: .7;
}