.landing-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-active);
    color: white;
    padding: var(--spacing-xlarge);
    text-align: left;
}

.hero-text h1 {
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--spacing-medium);
}

.hero-text p {
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-medium);
}

.cta-button {
    background-color: var(--color-success);
    color: white;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-size: var(--font-size-base);
}

.cta-button:hover {
    background-color: var(--color-success);
}

.hero-image img {
    max-width: 50%;
    border-radius: var(--border-radius);
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-xlarge);
    background-color: var(--bg-secondary-color);
}

.feature-item {
    background-color: var(--bg-card-color);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 30%;
}

.feature-item h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-medium);
}

.feature-item p {
    font-size: var(--font-size-base);
}

/* Call to Action Section */
.cta-section {
    background-color: var(--color-active);
    color: white;
    text-align: center;
    padding: var(--spacing-xlarge);
}

.cta-section h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-medium);
}
