.register {
    padding: var(--spacing-medium);
}

.register-container {
    margin: 0 auto;
    width: 400px;
    height: auto;
    padding: var(--spacing-large);
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    text-align: center;
}

.register-title {
    font-size: var(--font-size-large);
    color: var(--text-color);
    margin-bottom: var(--spacing-large);
}

.error-message {
    color: var(--color-danger);
    font-size: var(--font-size-small);
    margin-bottom: var(--spacing-medium);
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-label {
    color: var(--text-color);
    align-self: self-start;
    padding: var(--spacing-small);
}

.input-field {
    padding: var(--spacing-medium);
    font-size: var(--font-size-base);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    transition: border-color 0.3s;
}

.input-field:hover {
    border-color: var(--color-primary);
}

.submit-btn {
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    opacity: .7;
}

.register-form a {
    font-size: var(--font-size-small);
    color: var(--color-primary);
    text-decoration: none;
    margin: var(--spacing-medium);
}

.register-form a:hover {
    text-decoration: underline;
}