.modal-overlay .content-config {
    padding: var(--spacing-large) var(--spacing-xxlarge);
}

.config-btn {
    background: none;
    border: none;
}

.config-icon {
    color: var(--text-color);
    font-size: var(--font-size-base);
}

/* Modal */
.theme-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-small) 0;
}

.theme-row span {
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.modal-content h2 {
    margin-bottom: var(--spacing-medium);
    color: var(--text-color);
}