.modal-overlay .content-config {
    padding: var(--spacing-large) var(--spacing-xxlarge);
}

.config-btn {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    border: none;
    transition: all .4s ease;
    cursor: pointer;
}

.config-btn:hover {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.config-icon {
    font-size: var(--font-size-base);
}

/* Modal */
.theme-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-small) 0;
}

.theme-row span {
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.modal-content h2 {
    margin-bottom: var(--spacing-medium);
    color: var(--text-color);
}