* {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

:root {
    /* Colores principales */
    --color-primary: #00c2e4;
    --color-primary-rgb: 0, 194, 228;
    --color-active: #007bff;
    --color-success: #28a745;
    --color-pending: #ffc107;
    --color-danger: #ff6272;

    /* Fondo */
    --bg-color: #fcfcfc;
    --bg-color-rgb: 252, 252, 252;
    --bg-secondary-color: #edeff1;
    --bg-card-color: #fcfcfc;
    --bg-hover-color: #f0f0f0;

    /* Colores de texto */
    --text-color: #212529;
    --text-secondary-color: #6c757d;

    /* Colores para cards según estado */
    --card-success-bg: #d3ffd3;
    --card-pending-bg: #fff3cd;
    --card-active-bg: #d7d8f8;

    /* Bordes */
    --border-color: #dee2e6;

    /* Sombras */
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    /* Tipografía */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 2rem;

    /* Radius */
    --border-radius: 0.5rem;

    /* Espaciados */
    --spacing-small: 0.4rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-xlarge: 2rem;
    --spacing-xxlarge: 3rem;
    --spacing-xxxlarge: 6rem;
}

[data-theme="dark"] {
    /* Colores principales */
    --color-active: #4dabf7;
    --color-success: #2ed573;
    --color-pending: #ffa502;
    --color-danger: #ff6b6b;

    /* Fondo */
    --bg-color: #2c2c2c;
    --bg-color-rgb: 16, 16, 16;
    --bg-secondary-color: #1c1c1c;
    --bg-card-color: #1f1f1f;
    --bg-hover-color: #292929;

    /* Colores de texto */
    --text-color: #f1f1f1;
    --text-secondary-color: #ced4da;

    /* Colores para cards según estado */
    --card-success-bg: #305232;
    --card-pending-bg: #85712b;
    --card-active-bg: #414177;

    /* Bordes */
    --border-color: #343a40;

    /* Sombras */
    --box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('./assets/fonts/static/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('./assets/fonts/static/Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    font-family: 'Nunito-Regular', sans-serif;
}

h1 {
    font-size: var(--font-size-xlarge);
}

h1,
h2 {
    color: var(--color-primary);
    font-family: 'Nunito-Bold', sans-serif;
}

h3 {
    font-family: 'Nunito-Bold', sans-serif;
}

p,
span,
select,
option,
label,
textarea,
input,
button {
    font-family: 'Nunito-Regular', sans-serif;
}

.button {
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    border: none;
    color: var(--text-color);
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
    background: var(--bg-color);
    border-radius: var(--border-radius);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content h3 {
    color: var(--text-color);
    align-self: center;
}

.modal-form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-form label {
    margin: var(--spacing-medium) 0 var(--spacing-small) 0;
}

.modal-form input,
.modal-form textarea {
    width: 100%;
    max-width: 100%;
    color: var(--text-color);
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    box-sizing: border-box;
}

.modal-form textarea {
    height: 100px;
    resize: none;
}

.modal-buttons {
    width: 100%;
    margin-top: var(--spacing-large);
    display: flex;
    justify-content: space-between;
}

.save-btn {
    background-color: var(--color-primary);
    color: var(--text-color);
}

.save-btn:hover {
    opacity: .7;
}

.cancel-btn {
    background-color: var(--color-danger);
    color: var(--text-color);
}

.cancel-btn:hover {
    opacity: .7;
}

/* Botón de cierre */
.close-btn {
    background: none;
    padding: var(--spacing-small);
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Botón de settings */
.settings-btn {
    background: none;
    padding: var(--spacing-small);
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}