.logout-btn {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--font-size-base);
    background-color: var(--color-danger);
    color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.logout-btn:hover {
    opacity: .7 ;
}
